.App {
  text-align: center;
}
h2{
  margin:0;
}
h3.youtube{
  background-color: red;
  padding:3px;
  border-radius: 10px;
  color:white;
}
.youtube-link{
  text-decoration: none;
  color: black;
}
.content-title{
  color: white;
  background-color: red;
  /* box-shadow: 1px 1px 5px black; */
  position: sticky;
  top: 50px;
  z-index: 5;
  height: 5px;
}
article.feeds-content{
  flex: 1;
}
form .smInput ,form .mdInput{
  height: 28px ;
  border-radius: 0;
  outline-color: red;
  border: 1px solid black;
  width: 200px;
  padding: 4px 0px 5px;
}
form .mdInput{
  width: 350px;
  padding: 5px;
  border-radius: 20px 0px 0 20px;
  /* height: 34px; */
}
main.content-body{
  display: flex;
  width: 100%;
  position: relative;
}
aside.sideBar{
 padding: 0 40px ; 
 height: 100vh;
 max-height: 100vh;
 overflow: auto;
 position: sticky;
 top: 50px;
 background-color: white;
}
  aside.sideBar{
    position: absolute;
    position: fixed;
    padding: 0 40px;
    left: -101%;
    transition: 0.2s;
    top: 0px;
    z-index: 6;
    max-height: 100vh;
  }
  aside.show{
    left: 0px;
}
aside .side-bar-link{
  border:1px solid red;
  color:red;
  padding: 7px 5px;
  border-radius: 20px;
  text-align: center;
  display: block;
  margin: 10px 0;
  text-decoration: none;
  transition: 0.2s;
}
aside .side-bar-link:hover{
  color:white;
  background-color: red;
  cursor:pointer;
  transition: .2s;
}
.black-screen{
  position: fixed;
  /* position: absolute; */
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: black;
  z-index: 6;
  opacity: 0.7;
  cursor: pointer;
}
article.videos{
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr) ) ;
  
}
article.videos section{
  padding: 0 0 5px;
  box-sizing: content-box;
  cursor: pointer;
  border-radius: 4px;
}
article.videos section:hover {
  background-color: rgb(212, 209, 209);
  
}
article.videos section img{
  width: 100%;
  border-radius: 4px;
}
article.videos section h5 {
  margin: 0;
}
article.videos section p{
  font-size: small;
  margin: 2px;
  color: red;
  font-weight: bold;
  cursor: pointer;
  width: fit-content;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%; 
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0px;
}
/* @media (min-width:899px) {
  .player-wrapper{
    width: 560px !important;
    height: 315px !important;
    padding-top: 0;
   } 
  .player-wrapper>div{
    max-width: 560px;
    max-height: 315px;
    margin: 10px;
    margin: 0;
  }
  .player-wrapper{
    height: auto;
  }
} */
@media (min-width:899px) {
  .player-wrapper{
    width: calc(560px * 1.2) !important;
    height: calc(315px * 1.2) !important;
    padding-top: 0;
   } 
  .player-wrapper>div{
    max-width: calc(560px * 1.2);
    max-height: calc(315px * 1.2);
    /* margin: 10px; */
    margin: 0;
  }
  .player-wrapper{
    height: auto;
  }
}
@media (min-width:1100px) {
  .player-wrapper{
    width: calc(560px * 1.4) !important;
    height: calc(315px * 1.4) !important;
    padding-top: 0;
   } 
  .player-wrapper>div{
    max-width: calc(560px * 1.4);
    max-height: calc(315px * 1.4);
    /* margin: 10px; */
    margin: 0;
  }
  .player-wrapper{
    height: auto;
  }
}
.page-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
article.video-data{
  background-color: #D5DBDB;
  padding: 10px;
  box-sizing: border-box;
  cursor: pointer;
  max-width: 100vw;

}
@media (min-width:899px) {
  article.video-data{
    width: calc(560px * 1.2);
}
  .page-wrapper{
    flex-direction: row;
  }
}
@media (min-width:1100px) {
  article.video-data{
    width: calc(560px * 1.4);
}
  .page-wrapper{
    flex-direction: row;
  }
}
.page-wrapper .video-info{
  padding: 0px;
  margin: 0;
}